<template>
    <div>
        <div class="container bg-white rounded shadow-sm">
            <filter-company-component />
            <a  :href="'/get-companies/export/'+this.countryFilter+'/'+this.currentType"
               v-if="countryFilter.length && companies.length" class="btn btn-outline-dark mx-3 my-2"  >export to csv</a>
            <div v-if="loaded">


                <ul class="list-unstyled "  v-if="companies.length">
                    <li class="row p-3 justify-content-around border">
                        <h5>title</h5>
                        <h5>number</h5>
                        <h5>actions</h5>
                    </li>
                    <li v-for="(company, i) in companies" :key="i">
                        <single-company-component :company="company" />
                    </li>
                </ul>
                <div v-else class="text-center py-2">
                    <h3 class="font-weight-bold text-center">companies with this params not exists</h3>
                </div>
            </div>
            <div v-else  class="w-full justify-center text-center">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>

        </div>
        <pagination-component
            :offset="6"
            :last_page="last_page"
            :current_page="this.$route.query.page"
        />
    </div>
</template>

<script>
    import Pagination from "./Pagination";
    import SingleCompanyComponent from "./SingleCompanyComponent";
    import FilterComponent from "./FilterComponent";
    import router from "../router";
    export default {
        name: "CompaniesComponent",
        components: {
            Pagination, FilterComponent, SingleCompanyComponent
        },
        data() {
            return {
                companies: [],
                loaded: true,
                last_page: 0,
                countryFilter: this.$route.query.country ?? '',
                currentType: this.$route.query.type ?? '',
            }
        },
        watch: {
            $route(to, from){

                this.getAllCompanies(this.$route.query.page);
            }
        },
        created(){
            Bus.$on('filter-companies', this.filterCompanies)
            this.getAllCompanies(this.$route.query.page);

        },
        destroyed() {
            Bus.$off('getAllCompanies');
        },
        methods: {

            filterCompanies(country, type)
            {
                this.countryFilter = country;
                this.currentType = type;
                if (country !== ''){
                    router.push({path: '/companies/', query: {page: 1, country: country, type: type}});
                }else {
                    router.push({path: '/companies/'});
                }

                this.getAllCompanies(1)
            },

            getAllCompanies(page = 1)
            {
                this.loaded = false;
                axios.get('/get-companies/'+this.countryFilter+'/'+this.currentType+'?page='+page)
                    .then((response)=>{
                        this.companies = response.data.data;
                        this.last_page = response.data.last_page;
                        this.loaded = true;
                    })
            },
        }
    }
</script>

<style scoped>
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #073563;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #073563 transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


</style>
