<template>
    <div class="container-fluid p-2">
        <div class="row justify-content-start align-items-center">
            <div class="m-3">
                <label for="type" class="font-weight-bold w-100 text-capitalize text-xl">
                    Select type filter
                </label>
                <select name="type" class="custom-select-md" id="type"
                        v-model="type" >
                    <option v-for="(type, i) in types"
                            :key="i"
                            :value="type">{{type}}</option>
                </select>
            </div>
            <div @focusout="cleanAutocompleteList"
                 class="w-25 position-relative h-auto">
                <label for="countries" class="font-weight-bold w-100 text-capitalize text-xl">
                    Select country filter for {{type}}
                </label>

                <input type="text"
                       v-model="search"
                       @keyup="autocomplete"
                       id="countries" class="w-100">
                <div  v-if="autocompleteList.length"
                      class="overflow-auto w-100 t-0 l-0 active border border-dark position-absolute w-25 bg-white text-dark"
                      style="height: 200px; z-index: 10;">
                    <li v-for="(country, index) in filteredAutocomplete"
                        :key="index"
                        class="list-unstyled  p-2 font-weight-bold text-center">
                    <span @click="setCountry(country)" class="h-100 w-100 aut-l" >
                        {{country}}
                    </span>
                    </li>
                </div>


            </div>
        </div>

        <button @click="filterCompanies(currentCountry, type)"
                class="btn btn-outline-success m-2 my-auto"
                :disabled="currentCountry === '' || type === ''"
        >Filter companies</button>
        <button class="btn btn-outline-primary m-2"
                @click="resetFilter">Reset filter</button>
    </div>
</template>

<script>
    export default {
        name: "FilterComponent",
        data(){
            return {
                currentCountry: this.$route.query.country ?? '',
                type: this.$route.query.type ?? 'officers',
                types: [
                    'officers',
                    'individuals'
                ],
                search: '',
                autocompleteList: [],
            }
        },
        computed:{
            filteredAutocomplete()
            {
                return Array.from(new Set(this.autocompleteList));
            }
        },
        methods: {
            cleanAutocompleteList()
            {
                setTimeout(()=>{
                        this.autocompleteList = [];
                    },
                    200);

            },
            resetFilter()
            {
                this.currentCountry = '';
                this.search = '';
                this.type = 'officers';
                this.filterCompanies('', '');
            },
            autocomplete()
            {
                if(this.search.length > 2)
                {
                    axios.get('/countries/'+this.search+'/'+this.type)
                        .then(({data})=>{
                            this.autocompleteList = data;
                        })
                }

            },
            setCountry(country)
            {
                this.currentCountry = country;
                this.search = country;
                this.autocompleteList = [];
            },
            filterCompanies(country, type)
            {
                Bus.$emit('filter-companies', country, type);
            }
        },

    }
</script>

<style scoped>
    .aut-l{
        cursor: pointer;
    }

</style>
