<template>
    <div>

    <router-view ></router-view>
    </div>
</template>

<script>
    import  router from 'vue-router';
    export default {
        name: "HomeComponent"
    }
</script>

<style scoped>

</style>

