<template>
    <ul class="pagination">

        <li class="pagination-item">
            <button
                         type="button"
                         @click="onPageChange(1)"
                         :disabled="isInFirstPage"
                         aria-label="Go to first page"
                         class="border p-2 font-weight-bold"
            > First
            </button>
        </li>
        <li class="pagination-item" >
            <button
                         type="button"
                         @click="onPageChange(current_page -1)"
                         :disabled="isInFirstPage"
                         aria-label="Go to previous page"
                         class="border p-2 font-weight-bold"
            >  Previous
            </button>
        </li>
        <li v-for="page in pages" class="pagination-item">
            <button
                         type="button"
                         @click="onPageChange(page.name)"
                         :disabled="page.isDisabled"
                         :class="{ 'text-secondary': isPageActive(page.name) }"
                         :aria-label="`Go to page number ${page.name}`"
                         class="border p-2 font-weight-bold"
            >   {{ page.name }}
            </button>
        </li>

        <li class="pagination-item">
            <button
                         type="button"
                         @click="onPageChange(nextPage)"
                         v-if="!isInLastPage"
                         aria-label="Go to next page"
                         class="border p-2 font-weight-bold"
            >
                Next
            </button>
        </li>

        <li class="pagination-item">
            <button
                         type="button"
                         @click="onPageChange(last_page)"
                         v-if="!isInLastPage"
                         aria-label="Go to last page"
                         class="border p-2 font-weight-bold"
            >
                Last
            </button>
        </li>
    </ul>
</template>

<script>
    import router from "../router";

    export default {
        name: "PaginationComponent",
        props: {
            current_page: {
                default : 1
            },
            last_page: 0,
            offset: {
                type: Number,
                default: 4
            },

        },

        computed: {
            startPage() {
                if (this.current_page === 1) {
                    return 1;
                }
                if (this.current_page === this.last_page) {
                    return this.last_page - this.offset + 1;
                }
                return this.current_page - 1;
            },
            nextPage(){
                return  parseInt(this.current_page) +1;
            },
            endPage() {
                return Math.min(this.startPage + this.offset - 1, this.last_page);
            },
            pages() {
                const range = [];
                for (let i = this.startPage; i <= this.endPage; i+= 1 ) {
                    if (i > 0)
                    {
                        range.push({
                            name: i,
                            isDisabled: i === parseInt(this.current_page)
                        });
                    }

                }
                return range;
            },
            isInFirstPage() {
                return parseInt(this.current_page) === 1 ;
            },
            isInLastPage() {
                return this.$route.query.page == this.last_page;
            },
        },
        methods: {
            isPageActive(page) {
                return this.$route.query.page == page;
            },

            onPageChange(page) {
                let query = Object.assign({}, this.$route.query, page)
                query.page = page;
                router.push({path: '/companies', query: query});
             },
        },

    }
</script>

<style scoped>

</style>
