<template>
    <div class="row p-4  border">
        <h5 class="mr-auto col-4 font-weight-bold" v-html="company.title">{{company.title}}</h5>
        <h5 class="mx-auto text-center col-4" v-html="company.number"></h5>
        <div class="col-4">
            <button class="btn btn-outline-primary my-2 mx-2 " @click="getOfficers(company.id), showedOfficers = !showedOfficers">Show officers</button>
            <button class="btn btn-outline-success my-2" @click="getIndividuals(company.id), showedIndividuals = !showedIndividuals">Show individuals</button>
        </div>
        <transition name="modal" v-if="showedOfficers">
            <div class="modal-mask  ">
                <div class="modal-wrapper  ">
                    <div class="modal-container  border rounded " :class="{'h-75' : officers.length > 0}">
                        <button type="button" class="ml-auto btn btn-outline-danger rounded-circle"
                                @click="showedOfficers = !showedOfficers"><i class="fa fa-close"></i></button>
                        <h4 v-if="officers.length > 0">Company Officers</h4>
                        <h4 v-else>Company dont has officers</h4>
                        <div class="overflow-y-auto" :class="{'h-75' : officers.length > 0}">
                            <div v-for="officer in officers" >
                                <div  class="row p-3 border">
                                    <h5 class="mr-auto col-4 break-long-words" v-html="officer.name"></h5>

                                    <h5 class="mx-auto col-4 text-center border-right border-left">
                                        <span class="font-weight-bold">address country: </span>
                                        <span v-if="officer.address_country != null" v-html="officer.address_country"></span>
                                        <span v-else>empty</span>
                                    </h5>

                                    <h5 class="col-4 ml-auto border-right border-left">
                                        <span class="font-weight-bold">country of residence:</span>
                                        <span v-if="officer.country_of_residence != null" v-html="officer.country_of_residence"></span>
                                        <span v-else>empty</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <transition name="modal" v-if="showedIndividuals">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container overflow-y-auto border rounded" :class="{'h-75' : individuals.length > 0}">
                        <button type="button" class="ml-auto btn btn-outline-danger rounded-circle" @click="showedIndividuals = !showedIndividuals"><i class="fa fa-close"></i></button>
                        <h4 v-if="individuals.length > 0">Company Individuals</h4>
                        <h4 v-else>company dont has individuals</h4>
                        <div  v-for="individual in individuals">
                            <div  class="row p-3 border">
                                <h5 class="mr-auto col-4   break-long-words">{{individual.name}}</h5>

                                <h5 class="mx-auto col-4 text-center border-right border-left">
                                    <span class="font-weight-bold">address country: </span>
                                    <span v-if="individual.address_country != null" v-html="individual.address_country"></span>
                                    <span v-else>empty</span>
                                </h5>

                                <h5 class="ml-auto col-4 text-center border-right border-left">
                                    <span class="font-weight-bold">country of residence:</span>
                                    <span v-if="individual.country_of_residence != null" v-html="individual.country_of_residence"></span>
                                    <span v-else>empty</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "SingleCompanyComponent",
        props : ['company'],
        data(){
            return{
                officers: [],
                individuals: [],
                showedOfficers : false,
                showedIndividuals: false
            }
        },
        methods: {
            getOfficers(id)
            {
                axios.get('/companies/'+id+'/officers')
                    .then((response)=>{
                        this.officers = response.data;
                    })
            },
            getIndividuals(id)
            {
                axios.get('/companies/'+id+'/individuals')
                    .then((response)=>{
                        this.individuals = response.data;
                    })
            }
        }
    }
</script>

<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        max-width: 800px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        font-family: Helvetica, Arial, sans-serif;
        overflow-y: auto;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
